In [5]:
#Setting up the environement
import math as m
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#Dummy pandas dataframe
#Setting up time in minutes
start = 0
end = 480
def minute_range(start, end, step=15):
    cur = start
    time_list = [cur]
    while cur < end:
        cur = cur+step
        time_list.append(cur)
    return time_list
        

#numoy array
max = 50
time_list = minute_range(start,end,15)
x = np.linspace(0,m.pi*50,len(time_list))
y = np.array([m.sin(i/50)*max for i in x])
time = time_list

df = pd.DataFrame({'time':time_list})

def eight_row_sin(lst, df, max_, min_, sd,x):
    max_ = np.random.uniform(min_,max_, 1)
    def change_to_zero(x):
        if x<0:
            return 0
        else:
            return x
    
    
    for i in lst:
        df[i]  = np.array([m.sin(i/50)*max_ for i in x])
        df[i] = df[i].apply(lambda x: int(np.random.uniform(x - sd, x + sd, 1)))
        df[i] = df[i].apply(change_to_zero)
    return df


Day_Leg = ['1North', '1South', '1East', '1West', '2North', '2South', '2East', '2West','3North', '3South', '3East', '3West']
df = eight_row_sin(lst=Day_Leg, df=df, max_=200, min_=150, sd = 30, x=x)



# for i in Day_Leg:
#     fig,ax = plt.subplots()
#     print(i)
#     ax.scatter(df.x,df[i])
#     ax.set(xlabel = 'Time (Minutes)', ylabel = 'Demand')
#     plt.show()

In [6]:

df

,time,1North,1South,1East,1West,2North,2South,2East,2West,3North,3South,3East,3West
0,0,0,0,9,0,2,8,25,0,0,0,23,19
1,15,0,2,0,31,29,0,39,31,4,21,1,20
2,30,38,46,49,31,7,14,54,36,1,31,37,25
3,45,47,27,70,36,31,63,66,53,28,61,40,29
4,60,34,56,58,60,86,29,45,80,62,30,72,72
5,75,45,78,59,71,99,66,95,60,56,53,90,72
6,90,77,78,68,88,65,54,105,54,86,58,91,56
7,105,96,112,125,93,83,79,114,121,125,106,121,103
8,120,79,135,99,93,91,81,104,100,103,78,92,85
9,135,113,110,113,142,93,88,132,101,107,117,142,127
10,150,101,119,130,103,100,140,144,111,147,138,155,133
11,165,143,154,113,113,124,108,162,128,114,159,111,151
12,180,119,133,149,122,146,124,121,118,167,149,163,147
13,195,126,141,135,155,154,149,143,118,120,130,146,129
14,210,138,160,177,136,136,135,168,131,161,170,142,176
15,225,158,123,166,143,135,131,123,177,148,177,162,136
16,240,170,154,177,132,128,163,170,154,121,123,163,135
17,255,143,149,162,149,171,157,157,157,122,170,124,151
18,270,176,164,162,131,119,177,123,151,137,167,174,176
19,285,172,127,168,148,121,129,136,166,171,135,121,147
20,300,111,162,138,145,145,155,136,134,112,131,111,145
21,315,116,134,153,118,143,114,142,145,139,154,133,112
22,330,96,107,144,110,134,125,145,150,146,123,113,114
23,345,103,144,123,136,99,136,121,144,117,144,102,102
24,360,128,112,99,87,85,114,130,135,99,106,126,84
25,375,80,81,119,74,78,108,107,73,112,88,115,79
26,390,56,67,101,83,65,71,85,85,96,69,63,111
27,405,91,44,70,42,93,86,84,68,48,89,97,49
28,420,51,31,55,56,64,28,36,38,43,86,65,83
29,435,34,29,23,16,65,18,53,61,16,33,15,60
30,450,43,58,53,12,53,29,23,11,39,17,9,43
31,465,26,41,0,8,27,29,1,0,20,0,0,43
32,480,3,0,5,0,0,0,0,24,0,3,0,0

# rou.xml format
with open("data/cross.rou.xml", "w") as routes:
        print("""<routes>
        <vType id="typeWE" accel="0.8" decel="4.5" sigma="0.5" length="5" minGap="2.5" maxSpeed="16.67" \
guiShape="passenger"/>
        <vType id="typeNS" accel="0.8" decel="4.5" sigma="0.5" length="7" minGap="3" maxSpeed="25" guiShape="bus"/>

        <route id="right" edges="51o 1i 2o 52i" />
        <route id="left" edges="52o 2i 1o 51i" />
        <route id="down" edges="54o 4i 3o 53i" />""", f)

# trip generation format
    <routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://sumo.dlr.de/xsd/routes_file.xsd">
        <vType id="veh_passenger" vClass="passenger"/>
        <trip id="veh0" type="veh_passenger" depart="0.00" departLane="best" from="31313667#2" to="-153698390#1"/>
        <trip id="veh2" type="veh_passenger" depart="11.98" departLane="best" from="415280722" to="35269774#0"/>
    </routes>

In [118]:
import numpy as np
def when_depart(initial, final, demand):
    """
    Returns list of when each vehicle departs in seconds
    """
    #converts time boundaries to seconds to seconds
    initial_s = initial*60
    final_s = final*60

    #checks if there is demand
    if demand != 0:
        #converts from vehicle/given minutes to seconds/vehicle
        demand = (final-initial)*60/demand
        vehicles_time_index = np.arange(initial_s, final_s, step = demand)
        return vehicles_time_index
    else:
        #if there is no demand, return nothing
        pass

In [164]:
import random as rd

possible_route = {
    
    "North":{
        "South": 40, 
        "East": 60
        },
    "South":{
        "North": 75, 
        "West": 25
        },
    "East":{
        "West": 70,
        "North": 30
        },
    "West":{
        "East": 55,
        "South": 45
        }
}

def to_route(beginning,possible_route):
    
    direction = list(possible_route[beginning].keys())                 #creates list of keys per possible route, ex. keys of "North" is "South" and "East"
    values = list(possible_route[beginning].values())                  #creates list of values per possible route, ex. values of "North" is 40 and 60
    
    end = rd.choices(direction, weights=values, k=1)                   #to use rd.choices, lists must be assigned, not objects
    
    return end

to_route("North",possible_route)                                       #provide beginning, possible_route serves as a dictionary for the whole function.

['South']

In [11]:
def to_route(beginning):
    #
    return end

In [ ]:
def generate():
    def generator_string(df):
        for column in df.columns.values[1:]:
            

    with open("osm.passengers.trips.xml", "w") as file:
        print(""""
        <routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://sumo.dlr.de/xsd/routes_file.xsd">
        <vType id="veh_passenger" vClass="passenger"/>
        {}
        """)

In [165]:
trial = df.iloc[:,0:2]

import numpy as np


def vehicles_per_time_increment_array(df):
    """
    Converts dataframe into the time where each vehicle shall enter the lane
    """

    def when_depart(initial, final, demand):
        """
        Returns list of when each vehicle departs in seconds
        """
        #converts time boundaries to seconds to seconds
        initial_s = initial*60
        final_s = final*60

        #checks if there is demand
        if demand != 0:
            #converts from vehicle/given minutes to seconds/vehicle
            demand = (final-initial)*60/demand
            vehicles_time_index = np.arange(initial_s, final_s, step = demand, dtype='float32')
            return vehicles_time_index
        else:
            #if there is no demand, return nothing
            pass
    
    vehicle_index = np.array([])
    for row_num in range(df.shape[0]-1):
        segment_df = df.iloc[row_num:row_num+2, 0:2]    #segments the datframe by 2s in terms of row index(0-1,1-2,2-3,etc.)
        segment_df = segment_df.reset_index(drop=True)

        #use the when_depart function to analyze each segment and passes the vehicle time into the vehicle_index array 
        vehicle_time_index = when_depart(segment_df.iloc[0,0], segment_df.iloc[1,0], segment_df.iloc[1,1])
        vehicle_index = np.hstack([vehicle_index, vehicle_time_index])
    
    return vehicle_index[vehicle_index != np.array(None)]

def vehicles_per_lane(df):
    vehicle_time_index_per_lane = {}
    
    for column_index in list(range(1,df.shape[1])):
        vehicle_time_index_per_lane[df.columns.values[column_index]] = vehicles_per_time_increment_array(df.iloc[:,[0, column_index]]).astype('float32')
    
    return vehicle_time_index_per_lane

time_index_per_lane = vehicles_per_lane(df)
time_index_per_lane

{'1North': array([  900.    ,   923.6842,   947.3684, ..., 27900.    , 28200.    ,
        28500.    ], dtype=float32),
 '1South': array([    0.   ,   450.   ,   900.   , ..., 27834.145, 27856.096,
        27878.047], dtype=float32),
 '1East': array([  900.     ,   918.3674 ,   936.73474, ..., 28260.     ,
        28440.     , 28620.     ], dtype=float32),
 '1West': array([    0.      ,    29.032259,    58.064518, ..., 27562.5     ,
        27675.      , 27787.5     ], dtype=float32),
 '2North': array([    0.      ,    31.034483,    62.068966, ..., 27800.016   ,
        27833.35    , 27866.684   ], dtype=float32),
 '2South': array([  900.    ,   964.2857,  1028.5714, ..., 27806.914 , 27837.95  ,
        27868.984 ], dtype=float32),
 '2East': array([0.0000000e+00, 2.3076923e+01, 4.6153847e+01, ..., 2.6921748e+04,
        2.6960879e+04, 2.7000000e+04], dtype=float32),
 '2West': array([    0.      ,    29.032259,    58.064518, ..., 28687.5     ,
        28725.      , 28762.5     ], dtype=float32),
 '3North': array([    0.,   225.,   450., ..., 27765., 27810., 27855.], dtype=float32),
 '3South': array([    0.      ,    42.857143,    85.71429 , ..., 27900.      ,
        28200.      , 28500.      ], dtype=float32),
 '3East': array([    0.     ,   900.     ,   924.32434, ..., 26700.     ,
        26800.     , 26900.     ], dtype=float32),
 '3West': array([    0.   ,    45.   ,    90.   , ..., 27837.188, 27858.117,
        27879.047], dtype=float32)}

array([None, 900.0, 923.6842105263158, ..., 27900.0, 28200.0, 28500.0],
      dtype=object)

In [105]:
df.iloc[:,[1,3]]

    1North  1East
0        0      9
1        0      0
2       38     49
3       47     70
4       34     58
5       45     59
6       77     68
7       96    125
8       79     99
9      113    113
10     101    130
11     143    113
12     119    149
13     126    135
14     138    177
15     158    166
16     170    177
17     143    162
18     176    162
19     172    168
20     111    138
21     116    153
22      96    144
23     103    123
24     128     99
25      80    119
26      56    101
27      91     70
28      51     55
29      34     23
30      43     53
31      26      0
32       3      5

In [84]:
trial['1North'].sum()

2913