In [1]:
import logic as lc
#Setting up the environement
import math as m
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#Dummy pandas dataframe
#Setting up time in minutes
start = 0
end = 480
def minute_range(start, end, step=15):
    cur = start
    time_list = [cur]
    while cur < end:
        cur = cur+step
        time_list.append(cur)
    return time_list
        

#numoy array
max = 50
time_list = minute_range(start,end,15)
x = np.linspace(0,m.pi*50,len(time_list))
y = np.array([m.sin(i/50)*max for i in x])
time = time_list

df = pd.DataFrame({'time':time_list})

def eight_row_sin(lst, df, max_, min_, sd,x):
    max_ = np.random.uniform(min_,max_, 1)
    def change_to_zero(x):
        if x<0:
            return 0
        else:
            return x
    
    
    for i in lst:
        df[i]  = np.array([m.sin(i/50)*max_ for i in x])
        df[i] = df[i].apply(lambda x: int(np.random.uniform(x - sd, x + sd, 1)))
        df[i] = df[i].apply(change_to_zero)
    return df


Day_Leg = ['North_a','South_a','West_a','East_a']
df = eight_row_sin(lst=Day_Leg, df=df, max_=200, min_=150, sd = 30, x=x)



# for i in Day_Leg:
#     fig,ax = plt.subplots()
#     print(i)
#     ax.scatter(df.x,df[i])
#     ax.set(xlabel = 'Time (Minutes)', ylabel = 'Demand')
#     plt.show()

In [2]:
time_index_all_routes = lc.load_time_index(df)
possible_route = {
    "North_a":{
        "South_f": 40,
        "West_f": 60},
    "South_a":{
        "North_f": 75, 
        "East_f": 25},
    "East_a":{
        "West_f": 70,
        "North_f": 30},
    "West_a":{
        "East_f": 55,
        "South_f": 45}
    }

reference_dict = {
    "North_a" : "785902529",
    "North_f" : "-785902529",
    "West_a" : "785902540#0",
    "West_f" : "-785902540#1",
    "South_a" : "-732022517",
    "South_f" : "732022517",
    "East_a" : "-785902540#2",
    "East_f" : "785902540#2"}

In [4]:
PATH = "Main Route Simulation\osm.passenger.trips.xml"
def generate(route_weight,reference_dict, df, time_index):
    """ 
    Generates the trips in xml of the route
    """ 
    #generates the tag of each vehicle in xml format
    vehicle_xml_tag_array = []
    count = 0
    for lane_approach in route_weight:
        lane_approach_dict = route_weight[lane_approach]

        for index,value in enumerate(time_index[lane_approach]):

            tag = '<trip id="veh{}" type="veh_passenger" depart="{}" departLane="best" from="{}" to="{}"/>\n'.format(count,value,reference_dict[lane_approach],reference_dict[lc.to_route(lane_approach, possible_route=route_weight)])
            vehicle_xml_tag_array.append((tag, value))
            count +=1
    vehicle_xml_tag_array = sorted(vehicle_xml_tag_array,key = lambda x: x[1])  #order keys using the seconds tuple which is the duration(keys, duration)
    vehicle_xml_tag_array = [value for value, _ in vehicle_xml_tag_array]

    #writes the schema and vehicle type of the network as ...trips.xml
    with open(PATH, "w") as file:
        print(r'''<?xml version="1.0" encoding="UTF-8"?>

<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://sumo.dlr.de/xsd/routes_file.xsd">
<vType id="veh_passenger" vClass="passenger"/>



''', file=file)
    
    #appends the tags to ...trips.xml 
    with open(PATH, "a") as file:
        for tag in vehicle_xml_tag_array:
            file.write(tag)
        file.write("</routes>")

%timeit all_vehicles = generate(possible_route,reference_dict,df,time_index_all_routes)

75.6 ms ± 4.22 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [36]:
all_

    time  North_a  South_a  West_a  East_a
0      0       20       21      20       0
1     15       38        0      46       0
2     30       25       21      49      65
3     45       25       53      45      24
4     60       92       44      65      53
5     75      102      103      58     106
6     90      103       77     105     100
7    105       97       94      94     117
8    120      115      111     145     112
9    135      140      142     171     156
10   150      173      140     138     165
11   165      186      150     138     148
12   180      149      167     168     141
13   195      204      153     187     148
14   210      188      194     196     181
15   225      193      159     163     171
16   240      163      170     157     161
17   255      164      157     195     174
18   270      196      201     178     193
19   285      185      151     188     195
20   300      198      174     139     165
21   315      183      137     139     134
22   330      163      125     175     160
23   345      133      122     145     147
24   360      117      130     119     149
25   375      130      129     118     132
26   390      116      126      87     111
27   405       89       85      62      83
28   420       52       72      91      42
29   435       75       45      48      34
30   450       12       44      42      28
31   465       15       33      27      31
32   480        0        0      20      11