In [1]:
import pandas as pd
import numpy as np
def to_df(list):
    pass
def pi(df):
    pass
def time(df):
    pass

# Traffic Light Switchin Code
The purpose of this notebook is to explain the algorithm used by the research. The a

In [ ]:
qi_df = to_df[r_id_1,r_id_2] #returns dataframe of phase's leg characteristics
#r_id|max_capacity|n

## Eq.1 </br><img src="pics\equation1.png">

In [ ]:
qi_df = pi(qi_df) #returns dataframe with added pi(time needed to clear leg) use eq. 1
#r_id|mx_capacity|n|pi

In [ ]:
q_max_between = max_between(q1,q2)#returns max capacity of both

In [ ]:
qi_time = time(qi_df) #returns the largest time needed to clear a leg between the two legs in the phase

In [ ]:
#if no demand
if q1_time == 0 and q2_time == 0:
    q1_time, q2_time = "FY"
    time.sleep(2)
    passpai

#if only one leg in demand
elif q1_time >0 or q2_time > 0:
    if q1_time > 0:
        t_q1 = 'G'
        t_q2 = 'R'
        set_traffic_light(t_q1,t_q2)
        pass
    else:
        t_q1 = 'R'
        t_q1 = 'G'
        set_traffic_light(t_q1,t_q2)
        pass

#if both legs in demand
elif q1_time>0 and q2_time>0:
    if q1_time>0:
        eff = q1_time/q2_time
        t_q1 = q1_time*eff
        t_q2 = max - t_q1
    else:
        eff = q2_time/q1_time
        t_q2 = q2_time*eff
        t_q1 = max - t_q2
    #minimum = 20s
    if q2_time < minimum:
        t_q1 = max - minimum
        t_q2 = minimum
    else:
        t_q2 = max - minimum
        t_q1 = minimum
else:
    print('Error')
    
set_traffic_light(t_q1,t_q2)

In [2]:
import pandas as pd 

df = pd.read_csv('test.csv')
df

       Unnamed: 0  E_0  E_1  N_0  N_1  S_0  S_1  W_0  W_1
0               0    0    0    0    0    0    0    0    0
1               1    0    0    0    0    0    0    0    0
2               2    0    0    0    0    0    0    0    0
3               3    0    0    0    0    0    0    0    0
4               4    0    0    0    0    0    0    0    0
...           ...  ...  ...  ...  ...  ...  ...  ...  ...
28791       28791    0    0    0    0    0    0    0    0
28792       28792    0    0    0    0    0    0    0    0
28793       28793    0    0    0    0    0    0    0    0
28794       28794    0    0    0    0    0    0    0    0
28795       28795    0    0    0    0    0    0    0    0

[28796 rows x 9 columns]

In [7]:
list(range(0,6))

[0, 1, 2, 3, 4, 5]